body{
    background-image: url("https://github.com/alexs55/unit-4-game/blob/master/assets/images/Planet-Space-Stars-Desktop-Background.jpg?raw=true");
    color: white;
    font-family: 'Monoton', cursive;
}


.crystals{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    



}

.crystal{
    border: 1px solid white;
    height: 400px;
    width: 215px;
    border-radius: 2px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, transform 2s;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translate(5px,45px);
    transition: box-shadow 1s, transform 2s;
    
}


#score{
    color: white;
}

#wins{
    color: white;
}

#loses{
    color: white;
}

#current-score{
    color: white;
}